//
// Header
// --------------------------------------------------

.logos {
	position: relative;
	margin-top: 40px;
	.light,
	.dark {
		position: absolute;
		top: 40px;
		left: 0;
		width: 100%;
		opacity: 1;
		-webkit-transition: all ease-out .3s;
	  transition: all ease-out .3s; 		
	}
	.ng-hide {
		opacity: 0;
		display: block !important;
	}
}