.gotham-bold {
	font-family: @font-family-gotham-bold;
}
.gotham-book {
	font-family: @font-family-gotham-book;
}
.gotham-book-italic {
	font-family: @font-family-gotham-book-italic;
}
.gotham-light {
	font-family: @font-family-gotham-light;
}
.gotham-medium {
	font-family: @font-family-gotham-medium;
}

.open-sans-light {
	font-family: @font-family-sans-serif;
	font-weight: 300;
}

.open-sans-reg {
	font-family: @font-family-sans-serif;
	font-weight: 400;
}

.open-sans-semi {
	font-family: @font-family-sans-serif;
	font-weight: 600;
}

.open-sans-bold {
	font-family: @font-family-sans-serif;
	font-weight: 700;
}

.font-top {
	padding-top: 15px;
	h2 {
		float: left;
	}
	.btn {
		float: right;
		margin-top: 20px;
	}
}