
<!DOCTYPE html>
<html lang="en" ng-app="styleApp">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="dist/img/favicon.ico">

    <title>spotXchange style guide</title>

    <!-- Bootstrap core CSS -->
    <link type="text/css" href="dist/css/bootstrap.css" rel="stylesheet">
    <link type="text/css" href="dist/css/bootstrap-theme.min.css" rel="stylesheet">
    <link type="text/css" href="dist/css/base.css" rel="stylesheet">
    <link type="text/css" href="dist/css/prettify.css" rel="stylesheet">
    <link type="text/css" href="dist/css/timepicker.css" rel="stylesheet">
    <link type="text/css" href="dist/css/font-awesome.css" rel="stylesheet">
    <link type="text/css" href="dist/css/select2.css" rel="stylesheet">
    <link type="text/css" href="dist/css/select2-bootstrap.css" rel="stylesheet">
    <link type="text/css" href="dist/css/ui-grid.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    
    <!-- Google fonts Source Sans -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
    
    <!-- Font Awesome -->
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  </head>

  <body class="left-nav-open spotx" ng-controller="mainController">
	  
    <header class="navbar navbar-inverse navbar-fixed-top">
      <a class="leftmenu-trigger active">
	      <div class="patty"></div>
      </a>
      <a class="logo">&nbsp;</a>
<!--      
      <a class="rightmenu-trigger" href="#">
	      <div class="patty"></div>
      </a>			
      <div class="search form-group">	    
	      <input type="search" class="form-control" placeholder="Search" />
	      <a class="btn-search" href="#"><span></span></a>
      </div>   
-->       
    </header>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar-left">
	        <div class="divider"></div>
          <ul class="nav nav-sidebar">
            <li class="level-1 overview"><a href="#overview">Overview <span class="sr-only">(current)</span></a></li>
            <li class="level-1 logos"><a href="#logo">Our Logo</a></li>
            <li class="level-1 colors"><a href="#colors">Colors</a></li>
            <li class="level-1 typefaces"><a href="#typefaces">Typefaces</a></li>
            <li class="level-1 headings"><a href="#headings">Headings</a></li>
            <li class="nav-sub elements"><a href="#forms">Forms</a>
		          <ul class="nav" ng-controller="ScrollCtrl">
			          <li class="inputs"><a href="" ng-click="gotoElement('example')">Form Example</a></li>
			          <li class="tooltips"><a href="" ng-click="gotoElement('tooltips')">Tooltips</a></li>
			          <li class="checkboxes-radios"><a href="" ng-click="gotoElement('checkboxes')">Checkboxes and Radios</a></li>
			          <li class="selects"><a href="" ng-click="gotoElement('selects')">Selects</a></li>
			          <li class="sizes"><a href="" ng-click="gotoElement('sizes')">Sizes</a></li>
			          <li class="date-time"><a href="" ng-click="gotoElement('date-time')">Date & Time Picker</a></li>
			          <li class="column"><a href="" ng-click="gotoElement('columns')">Column sizing</a></li>
		          </ul>
            </li>
            <li class="level-1 buttons"><a href="#buttons">Buttons</a></li>            
            <li class="level-1 tables"><a href="#tables">Tables</a></li>   
            <li class="level-1 list"><a href="#list">List</a></li>         
            <li class="level-1 css"><a href="#css">CSS / LESS</a></li>
            <li class="level-1 icons"><a href="#icons">App Icons</a></li>
            <li class="level-1 usage"><a href="#usage">Usage</a></li>
          </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
	        <div class="page {{ pageClass }}" ng-view></div>                    	        
        </div>
<!--
        <div class="col-sm-3 col-md-2 sidebar-right">
          <ul class="nav nav-sidebar">
            <li class="level-1 active"><a href="#">Overview <span class="sr-only">(current)</span></a></li>
            <li class="level-1"><a href="#">Our Logo</a></li>
            <li class="level-1"><a href="#">Colors</a></li>
            <li class="level-1"><a href="#">Typefaces</a></li>
            <li class="nav-sub"><a href="#">Elements</a>
		          <ul class="nav">
			          <li><a href="#">Headings</a></li>
		            <li><a href="#">Forms</a></li>
		            <li><a href="#">Buttons</a></li>
		            <li><a href="#">List</a></li>
		            <li><a href="#">Tables</a></li>
		          </ul>
            </li>
            <li class="level-1"><a href="#">Spacing</a></li>
            <li class="level-1"><a href="#">App Icons</a></li>
            <li class="level-1"><a href="#">Usage</a></li>
          </ul>
        </div>
-->        
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    
    <script type="text/javascript" src="dist/js/bootstrap.min.js"></script>
    
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-route.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.13/angular-animate.js"></script>   
    
    <script type="text/javascript" src="dist/js/app.js"></script>
    <script type="text/javascript" src="dist/js/directives.js"></script>
    <script type="text/javascript" src="dist/js/main.js"></script>
    <script type="text/javascript" src="dist/js/ui-bootstrap.min.js"></script>
    <script type="text/javascript" src="dist/js/timepicker.js"></script>
    <script type="text/javascript" src="dist/js/select2.js"></script>
    <script type="text/javascript" src="dist/js/ui-grid.js"></script>
    
    <script type="text/javascript" src="assets/js/docs.min.js"></script>
    
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script type="text/javascript" src="assets/js/ie10-viewport-bug-workaround.js"></script>
    
  </body>
</html>



