
<!DOCTYPE html>
<html lang="en" ng-app="styleApp">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="dist/img/favicon.ico">

    <title>UX style guide</title>

    <!-- Bootstrap core CSS -->
    <link type="text/css" href="dist/css/bootstrap.css" rel="stylesheet">
    <link type="text/css" href="dist/css/bootstrap-theme.min.css" rel="stylesheet">
    <link type="text/css" href="dist/css/base.css" rel="stylesheet">
    <link type="text/css" href="dist/css/prettify.css" rel="stylesheet">
    <link type="text/css" href="dist/css/timepicker.css" rel="stylesheet">
    <link type="text/css" href="dist/css/font-awesome.css" rel="stylesheet">
    <link type="text/css" href="dist/css/fontastic.css" rel="stylesheet">
    <link type="text/css" href="dist/css/select2.css" rel="stylesheet">
    <link type="text/css" href="dist/css/select2-bootstrap.css" rel="stylesheet">
    <link type="text/css" href="dist/css/ui-grid.css" rel="stylesheet">
    <link type="text/css" href="dist/css/bootstrap-checkbox.css" rel="stylesheet">
    <link type="text/css" href="dist/css/perfect-scrollbar.min.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    
    <!-- Google fonts Source Sans -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
    
    <!-- Font Awesome -->
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  </head>

  <body class="left-nav-open spotx" ng-controller="mainCtrl">
	  
    <header class="navbar navbar-inverse navbar-fixed-top">
      <a class="leftmenu-trigger active">
	      <div class="patty"></div>
      </a>
      <a class="logo">&nbsp;</a>
      <div>
				<div class="switch">
				  <input id="cmn-toggle" class="cmn-toggle cmn-toggle-round" type="checkbox">
				  <label for="cmn-toggle"></label>
				  <div class="tooltip toggle-code top">
				  	<div class="tooltip-arrow"></div>
				  	<div class="tooltip-inner">code snippets off</div>
				  </div>
				</div>      	      
      </div>
    </header>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar-left">
	        <div class="divider"></div>
			    <div ng-controller="perfectScrollCtrl">
		        <perfect-scrollbar class="scroller" wheel-propagation="true" wheel-speed="3">
							<div ng-controller="navAccordianCtrl">
							  <accordion>	        
				          <ul class="nav nav-sidebar" ng-controller="navCtrl">
				            <li class="level-1 overview" activenav><accordion-group heading="Overview" ng-click="go('/overview')"></li>
				            <li class="level-1 logos" activenav><accordion-group heading="Logo" ng-click="go('/logo')"></li>
				            <li class="level-1 colors" activenav><accordion-group heading="Colors" ng-click="go('/colors')"></li>
				            <li class="level-1 typefaces" activenav><accordion-group heading="Typography" ng-click="go('/typography')"></li>
										<li class="level-1 layout" activenav><accordion-group heading="Layout" ng-click="go('/layout')"></li>
										<li class="level-1 forms" sub>
									    <accordion-group heading="Forms" ng-click="go('/forms')">
							          <ul class="nav nav-sub" ng-controller="scrollCtrl">
								          <li class="example" sub><a href="" ng-click="gotoElement('example')">Form Example</a></li>
								          <li class="tooltips" sub><a href="" ng-click="gotoElement('tooltips')">Tooltips</a></li>
								          <li class="checkboxes-radios" activenav-sub><a href="" ng-click="gotoElement('checkboxes')">Checkboxes and Radios</a></li>
								          <li class="selects" sub><a href="" ng-click="gotoElement('selects')">Selects</a></li>
								          <li class="sizes" sub><a href="" ng-click="gotoElement('sizes')">Sizes</a></li>
								          <li class="date-time" sub><a href="" ng-click="gotoElement('date-time')">Date & Time Picker</a></li>
								          <li class="column" sub><a href="" ng-click="gotoElement('columns')">Column Sizing</a></li>
							          </ul>
									    </accordion-group>		
										</li>                 
				            <li class="level-1 buttons" activenav><accordion-group heading="Buttons" ng-click="go('/buttons')"></li>            
				            <li class="level-1 tables" activenav><accordion-group heading="Tables" ng-click="go('/tables')"></li>   
				            <li class="level-1 graphs" activenav><accordion-group heading="Graphs" ng-click="go('/graphs')"></li>   
				            <li class="level-1 icons" activenav><accordion-group heading="App Icons" ng-click="go('/icons')"></li>     
										<li class="level-1 modals" activenav><accordion-group heading="Modals" ng-click="go('/modals')"></li>				            
				            <li class="level-1 css" activenav><accordion-group heading="CSS / LESS" ng-click="go('/css')"></li>				            
				          </ul>
							  </accordion>
							</div>          		
		        </perfect-scrollbar>
			    </div>	        
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
	        <div class="page {{ pageClass }}" ng-view></div>                    	        
        </div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- jQuery --> 
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    
    <!-- Bootstrap --> 
    <script type="text/javascript" src="dist/js/vendor/bootstrap/bootstrap.min.js"></script>    
    
    <!-- Angular --> 
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-route.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.13/angular-animate.js"></script>   
    
    <script type="text/javascript" src="dist/js/vendor/bootstrap/ui-bootstrap.min.js"></script>
    <script type="text/javascript" src="dist/js/vendor/bootstrap/bootstrap-input.js"></script>
    
		<!-- Custom -->    
    <script type="text/javascript" src="dist/js/app.js"></script>
    <script type="text/javascript" src="dist/js/main.js"></script>    
		<script type="text/javascript" src="dist/js/filters.js"></script>   
		<script type="text/javascript" src="dist/js/services.js"></script>	
    <script type="text/javascript" src="dist/js/directives.js"></script>			 
    <script type="text/javascript" src="dist/js/controllers.js"></script>
    
    <script type="text/javascript" src="dist/js/vendor/jquery/jquery-sortable.js"></script>
    <script type="text/javascript" src="dist/js/vendor/angular-perfect-scrollbar.js"></script>    
    <script type="text/javascript" src="dist/js/vendor/perfect-scrollbar.with-mousewheel.min.js"></script>   
    <script type="text/javascript" src="dist/js/vendor/smart-table.min.js"></script>     

		<!-- Vendor -->    
    <script type="text/javascript" src="dist/js/vendor/select2.js"></script>
    <script type="text/javascript" src="dist/js/vendor/ui-grid.js"></script>
		<script type="text/javascript" src="dist/js/vendor/timepicker.js"></script>  
		<script type="text/javascript" src="http://code.highcharts.com/stock/highstock.src.js"></script>
		<script type="text/javascript" src="dist/js/vendor/highcharts-ng.js"></script>		  
    
    <script type="text/javascript" src="assets/js/docs.min.js"></script>
    
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script type="text/javascript" src="assets/js/ie10-viewport-bug-workaround.js"></script>
    
  </body>
</html>



