<h1 class="page-header">Buttons</h1>

<h2>Tags</h2>
<p>Use the button classes on an <code>&lt;a&gt;</code>, <code>&lt;button&gt;</code>, or <code>&lt;input&gt;</code> element.</p>
<div class="element-example">
	<a class="btn btn-default" href="" role="button">Link</a>
	<button class="btn btn-default" type="submit">Button</button>
	<input class="btn btn-default" type="button" value="Input">
	<input class="btn btn-default" type="submit" value="Submit">
</div>
<div class="zero-clipboard">
<pre class="prettyprint lang-html" id="clipboard_text">
&lt;a class="btn btn-default" href="#" role="button"&gt;Link&lt;/a&gt;
&lt;button class="btn btn-default" type="submit"&gt;Button&lt;/button&gt;
&lt;input class="btn btn-default" type="button" value="Input"&gt;
&lt;input class="btn btn-default" type="submit" value="Submit"&gt;
</pre>	
<span class="btn-copy btn-clipboard-buttons" data-clipboard-target="clipboard_text">Copy</span>
</div>

<h2>Options</h2>
<p>Use one of the available button classes to quickly create a styled button.</p>
<div class="element-example">
	<button type="button" class="btn btn-default">Default</button>
	<button type="button" class="btn btn-primary">Primary</button>
	<button type="button" class="btn btn-secondary">Secondary</button>
	<button type="button" class="btn btn-link">Link</button>
</div>
<div class="zero-clipboard">
<pre class="prettyprint lang-html" id="clipboard_text_0">
&lt;div class="element-example"&gt;
  &lt;button type="button" class="btn btn-default"&gt;Default&lt;/button&gt;
  &lt;button type="button" class="btn btn-primary"&gt;Primary&lt;/button&gt;
  &lt;button type="button" class="btn btn-secondary"&gt;Secondary&lt;/button&gt;
  &lt;button type="button" class="btn btn-link"&gt;Link&lt;/button&gt;
&lt;/div&gt;
</pre>	
<span class="btn-copy btn-clipboard-buttons" data-clipboard-target="clipboard_text_0">Copy</span>
</div>
<br>
<p>Buttons on green backgrounds should use the <code>.btn-default</code> class.</p>
<div class="element-example bg-green">
	<button class="btn btn-default" type="submit">On Green</button>
</div>
<div class="zero-clipboard">
	<pre class="prettyprint lang-html" id="clipboard_text_1">
&lt;div class="bg-green"&gt;
  &lt;button type="button" class="btn btn-default"&gt;Default&lt;/button&gt;
&lt;/div&gt;
	</pre>
	<span class="btn-copy btn-clipboard-buttons" data-clipboard-target="clipboard_text_1">Copy</span>
</div>	

<h2>Sizes</h2>
<p>For larger or smaller buttons use <code>.btn-lg</code> or <code>.btn-sm</code> classes.</p>
<div class="element-example clearfix">
	<div class="col-md-3">
		<p><button type="button" class="btn btn-default btn-lg">Large button</button></p>
		<p><button type="button" class="btn btn-default">Default button</button></p>
		<p><button type="button" class="btn btn-default btn-sm">Small button</button></p>
	</div>
	<div class="col-md-3">
		<p><button type="button" class="btn btn-primary btn-lg">Large button</button></p>
		<p><button type="button" class="btn btn-primary">Default button</button></p>
		<p><button type="button" class="btn btn-primary btn-sm">Small button</button></p>		
	</div>
	<div class="col-md-3">
		<p><button type="button" class="btn btn-secondary btn-lg">Large button</button></p>
		<p><button type="button" class="btn btn-secondary">Default button</button></p>
		<p><button type="button" class="btn btn-secondary btn-sm">Small button</button></p>		
	</div>		
</div>
<div class="zero-clipboard">
<pre class="prettyprint lang-html" id="clipboard_text_2">
&lt;div class="col-md-2"&gt;
  &lt;p&gt;&lt;button type="button" class="btn btn-default btn-lg"&gt;Large button&lt;/button&gt;&lt;/p&gt;
  &lt;p&gt;&lt;button type="button" class="btn btn-default"&gt;Default button&lt;/button&gt;&lt;/p&gt;
  &lt;p&gt;&lt;button type="button" class="btn btn-default btn-sm"&gt;Small button&lt;/button&gt;&lt;/p&gt;
&lt;/div&gt;
&lt;div class="col-md-2"&gt;
  &lt;p&gt;&lt;button type="button" class="btn btn-primary btn-lg"&gt;Large button&lt;/button&gt;&lt;/p&gt;
  &lt;p&gt;&lt;button type="button" class="btn btn-primary"&gt;Default button&lt;/button&gt;&lt;/p&gt;
  &lt;p&gt;&lt;button type="button" class="btn btn-primary btn-sm"&gt;Small button&lt;/button&gt;&lt;/p&gt;		
&lt;/div&gt;
&lt;div class="col-md-2"&gt;
  &lt;p&gt;&lt;button type="button" class="btn btn-secondary btn-lg"&gt;Large button&lt;/button&gt;&lt;/p&gt;
  &lt;p&gt;&lt;button type="button" class="btn btn-secondary"&gt;Default button&lt;/button&gt;&lt;/p&gt;
  &lt;p&gt;&lt;button type="button" class="btn btn-secondary btn-sm"&gt;Small button&lt;/button&gt;&lt;/p&gt;		
&lt;/div&gt;		
</pre>	
<span class="btn-copy btn-clipboard-buttons" data-clipboard-target="clipboard_text_2">Copy</span>
</div>


<h2>Split</h2>
<p></p>
<div class="element-example split">
  <div class="btn-group btn-group-sm">
  	<a href active class="btn btn-primary">split</a>
  	<a href active class="btn btn-primary">buttons</a>
  	<a href active class="btn btn-primary">small</a>
  </div>
  <br>
  <div class="btn-group btn-group">
  	<a href active class="btn btn-primary">split</a>
  	<a href active class="btn btn-primary">buttons</a>
  	<a href active class="btn btn-primary">defaut</a>
  </div>
  <br>	  	
  <div class="btn-group btn-group-lg">
  	<a href active class="btn btn-primary">split</a>
  	<a href active class="btn btn-primary">buttons</a>
  	<a href active class="btn btn-primary">large</a>
  </div>		  
</div>
<div class="zero-clipboard">
	<pre class="prettyprint lang-html" id="clipboard_text_3">
&lt;div class="btn-group btn-group-sm"&gt;
  &lt;a href active class="btn btn-primary"&gt;split&lt;/a&gt;
  &lt;a href active class="btn btn-primary"&gt;buttons&lt;/a&gt;
  &lt;a href active class="btn btn-primary"&gt;small&lt;/a&gt;
&lt;/div&gt;
&lt;br&gt;
&lt;div class="btn-group btn-group"&gt;
  &lt;a href active class="btn btn-primary"&gt;split&lt;/a&gt;
  &lt;a href active class="btn btn-primary"&gt;buttons&lt;/a&gt;
  &lt;a href active class="btn btn-primary"&gt;defaut&lt;/a&gt;
&lt;/div&gt;
&lt;br&gt;	  	
&lt;div class="btn-group btn-group-lg"&gt;
  &lt;a href active class="btn btn-primary"&gt;split&lt;/a&gt;
  &lt;a href active class="btn btn-primary"&gt;buttons&lt;/a&gt;
  &lt;a href active class="btn btn-primary"&gt;large&lt;/a&gt;
&lt;/div&gt;
	</pre>	
	<span class="btn-copy btn-clipboard-buttons" data-clipboard-target="clipboard_text_3">Copy</span>
</div>

<h2>Tabs</h2>
<p>Use <code>.tabs-style-default</code>, <code>.tabs-style-btns</code>, <code>.tabs-style-fill</code> as seen in the examples below to display the different tab styles.</p>
<div class="element-example">
  <tabset class="tabs tabs-style-default">
    <tab heading="Static title">Static content</tab>
    <tab ng-repeat="tab in tabs" heading="{{tab.title}}" active="tab.active" disabled="tab.disabled">
      {{tab.content}}
    </tab>
  </tabset>	 
  <hr>
  <tabset class="tabs tabs-style-btns">
    <tab heading="Static title">Static content</tab>
    <tab ng-repeat="tab in tabs1" heading="{{tab.title}}" active="tab.active" disabled="tab.disabled">
      {{tab.content}}
    </tab>
  </tabset>	 
  <hr>
  <tabset class="tabs tabs-style-btns tabs-style-fill">
    <tab heading="Static title">Static content</tab>
    <tab ng-repeat="tab in tabs2" heading="{{tab.title}}" active="tab.active" disabled="tab.disabled">
      {{tab.content}}
    </tab>
  </tabset>	    
</div>
<div class="zero-clipboard">
	<pre class="prettyprint lang-html" id="clipboard_text_4">
&lt;tabset class="tabs tabs-style-default"&gt;
  &lt;tab heading="Static title"&gt;Static content&lt;/tab&gt;
  &lt;tab ng-repeat="tab in tabs" heading="&#123;&#123;tab.title&#125;&#125;" active="tab.active" disabled="tab.disabled"&gt;
    tab.content
  &lt;/tab&gt;
&lt;/tabset&gt;	 
&lt;hr/&gt;
&lt;tabset class="tabs tabs-style-btns"&gt;
  &lt;tab heading="Static title"&gt;Static content&lt;/tab&gt;
  &lt;tab ng-repeat="tab in tabs1" heading="&#123;&#123;tab.title&#125;&#125;" active="tab.active" disabled="tab.disabled"&gt;
    tab.content
  &lt;/tab&gt;
&lt;/tabset&gt;	 
&lt;hr/&gt;
&lt;tabset class="tabs tabs-style-btns tabs-style-fill"&gt;
  &lt;tab heading="Static title"&gt;Static content&lt;/tab&gt;
  &lt;tab ng-repeat="tab in tabs2" heading="&#123;&#123;tab.title&#125;&#125;" active="tab.active" disabled="tab.disabled"&gt;
    tab.content
  &lt;/tab&gt;
&lt;/tabset&gt;	
	</pre>	
	<span class="btn-copy btn-clipboard-buttons" data-clipboard-target="clipboard_text_4">Copy</span>
</div>


<script src="dist/js/vendor/prettify.js"></script>
<script src="dist/js/vendor/lang-css.js"></script>
<script src="dist/js/vendor/zeroclipboard.js"></script>

<script>
	var client = new ZeroClipboard($(".btn-clipboard-buttons"));
</script>