<h1 class="page-header">Forms</h1>

<h2>Inputs</h2>
<p>Form inputs show success or errors styling by adding the classes <code>.has-success</code> and <code>.has-error</code> to the parent container. Inputs are disabled by adding the <code>disabled</code> attribute to the input or to the parent fieldset.
<div class="element-example">
	<form role="form">
	  <div class="form-group">
	    <label for="standard-input">Input</label>
	    <input type="text" class="form-control" id="standard-input" placeholder="Placeholder">
	  </div>
    <div class="form-group">
      <label for="disabled-input">Disabled</label>
      <input type="text" disabled class="form-control" id="disabled-input" placeholder="Placeholder">
    </div> 
		<div class="form-group has-success">
		  <label class="control-label" for="success-input">Success</label>
		  <input type="text" class="form-control" id="success-input">
		</div>
		<div class="form-group has-error">
		  <label class="control-label" for="error-input">Error</label>
		  <input type="text" class="form-control" id="error-input">
		</div>			
	</form>
</div>
<div class="zero-clipboard">
<pre class="prettyprint lang-html" id="clipboard_text_2">
&lt;form role="form"&gt;
  &lt;div class="form-group"&gt;
    &lt;label for="standard-input"&gt;Input&lt;/label&gt;
    &lt;input type="text" class="form-control" id="standard-input" placeholder="Placeholder"&gt;
  &lt;/div&gt;
  &lt;div class="form-group"&gt;
    &lt;label for="disabled-input"&gt;Disabled&lt;/label&gt;
    &lt;input type="text" disabled class="form-control" id="disabled-input" placeholder="Placeholder"&gt;
  &lt;/div&gt;	  
  &lt;div class="form-group has-success"&gt;
    &lt;label class="control-label" for="success-input"&gt;Success&lt;/label&gt;
    &lt;input type="text" class="form-control" id="success-input"&gt;
  &lt;/div&gt;
  &lt;div class="form-group has-error"&gt;
    &lt;label class="control-label" for="error-input"&gt;Error&lt;/label&gt;
    &lt;input type="text" class="form-control" id="error-input"&gt;
  &lt;/div&gt;			
&lt;/form&gt;
</pre>	
<span class="btn-copy btn-clipboard-forms" data-clipboard-target="clipboard_text_2">Copy</span>
</div>

<h2>Checkboxes and radios</h2>
<div class="element-example">
	<div class="checkbox">
	  <label>
	    <input type="checkbox" value="" checked>
	    Option one is an all terrain armored transport (AT-AT)
	  </label>
	</div>
	<div class="checkbox">
	  <label>
	    <input type="checkbox" value="">
	    Option two is a clone Z-95 starfighter
	  </label>
	</div>	
	<div class="checkbox disabled">
	  <label>
	    <input type="checkbox" value="" disabled>
	    Option three is disable (it was a podracer)
	  </label>
	</div>
	<br>
	<div class="radio">
	  <label>
	    <input type="radio" name="options-radios" id="options-radios1" value="option1" checked>
	    Option one is an all terrain armored transport (AT-AT)
	  </label>
	</div>
	<div class="radio">
	  <label>
	    <input type="radio" name="options-radios" id="options-radios2" value="option2">
	    Option two is a clone Z-95 starfighter
	  </label>
	</div>
	<div class="radio disabled">
	  <label>
	    <input type="radio" name="options-radios" id="options-radios3" value="option3" disabled>
	    Option three is disable (it was a podracer)
	  </label>
	</div>	
</div>
<div class="zero-clipboard">
<pre class="prettyprint lang-html" id="clipboard_text_3">
&lt;div class="element-example"&gt;
  &lt;div class="checkbox"&gt;
    &lt;label&gt;
      &lt;input type="checkbox" value=""&gt;
      Option one is an all terrain armored transport (AT-AT)
    &lt;/label&gt;
  &lt;/div&gt;
  &lt;div class="checkbox"&gt;
    &lt;label&gt;
      &lt;input type="checkbox" value=""&gt;
      Option two is a clone Z-95 starfighter
    &lt;/label&gt;
  &lt;/div&gt;	
  &lt;div class="checkbox disabled"&gt;
    &lt;label&gt;
      &lt;input type="checkbox" value="" disabled&gt;
      Option three is disable (it was a podracer)
    &lt;/label&gt;
  &lt;/div&gt;
  &lt;br&gt;
  &lt;div class="radio"&gt;
    &lt;label&gt;
      &lt;input type="radio" name="options-radios" id="options-radios1" value="option1" checked&gt;
      Option one is an all terrain armored transport (AT-AT)
    &lt;/label&gt;
  &lt;/div&gt;
  &lt;div class="radio"&gt;
    &lt;label&gt;
      &lt;input type="radio" name="options-radios" id="options-radios2" value="option2"&gt;
      Option two is a clone Z-95 starfighter
    &lt;/label&gt;
  &lt;/div&gt;
  &lt;div class="radio disabled"&gt;
    &lt;label&gt;
      &lt;input type="radio" name="options-radios" id="options-radios3" value="option3" disabled&gt;
      Option three is disable (it was a podracer)
    &lt;/label&gt;
  &lt;/div&gt;	
&lt;/div&gt;
</pre>	
<span class="btn-copy btn-clipboard-forms" data-clipboard-target="clipboard_text_3">Copy</span>
</div>

<h2>Selects</h2>
<p>Add the <code>multiple</code> attribute and the <code>.multiple</code> class to show multiple options at once.</p>
<div class="element-example">
	<select class="form-control">
	  <option>1</option>
	  <option>2</option>
	  <option>3</option>
	  <option>4</option>
	  <option>5</option>
	</select>
	<br>
	<select multiple class="form-control multiple">
	  <option>1</option>
	  <option>2</option>
	  <option>3</option>
	  <option>4</option>
	  <option>5</option>
	</select>	
</div>
<div class="zero-clipboard">
<pre class="prettyprint lang-html" id="clipboard_text_4">
&lt;select class="form-control"&gt;
  &lt;option&gt;1&lt;/option&gt;
  &lt;option&gt;2&lt;/option&gt;
  &lt;option&gt;3&lt;/option&gt;
  &lt;option&gt;4&lt;/option&gt;
  &lt;option&gt;5&lt;/option&gt;
&lt;/select&gt;
&lt;br&gt;
&lt;select multiple class="form-control multiple"&gt;
  &lt;option&gt;1&lt;/option&gt;
  &lt;option&gt;2&lt;/option&gt;
  &lt;option&gt;3&lt;/option&gt;
  &lt;option&gt;4&lt;/option&gt;
  &lt;option&gt;5&lt;/option&gt;
&lt;/select&gt;	
</pre>	
<span class="btn-copy btn-clipboard-forms" data-clipboard-target="clipboard_text_4">Copy</span>
</div>

<h2>Date & Time Picker</h2>
<p>Datepicker is using UI Bootstrap, Timepicker is using AngularStrap for now.</p>
<div class="element-example">

	<div ng-controller="DatepickerCtrl">
	  <div class="row">
		  <div class="form-group col-md-6">
		    <label for="standard-input">Date Picker</label>
	      <p class="input-group bootstrap-datepicker">
	        <input type="text" class="form-control" show-button-bar="false" close-on-date-selection="false" datepicker-popup="{{format}}" ng-model="dt" is-open="opened" datepicker-options="dateOptions" ng-required="true"/>
					<span class="input-group-addon btn" ng-click="open($event)"><span class="fa fa-calendar"></span></span>        
	      </p>	    
		  </div>	    
	  </div>
	</div>
	
	<div class="row">
	  <div class="form-group col-md-6">
	    <label for="standard-input">Time Picker</label>
	    <div class="input-group input-append bootstrap-timepicker">
	      <input type="text" class="form-control timepicker"/>
				<span class="input-group-addon add-on btn"><span class="fa fa-clock-o"></span></span>  
	    </div>     	   
	  </div>	    
	</div>
	
</div>
<div class="zero-clipboard">
<pre class="prettyprint lang-html" id="clipboard_text_5">
&lt;div ng-controller="DatepickerCtrl"&gt;
  &lt;div class="row"&gt;
    &lt;div class="form-group col-md-6"&gt;
      &lt;label for="standard-input"&gt;Date Picker&lt;/label&gt;
      &lt;p class="input-group bootstrap-datepicker"&gt;
        &lt;input type="text" class="form-control" show-button-bar="false" close-on-date-selection="false" ng-model="dt" is-open="opened" datepicker-options="dateOptions" ng-required="true"/&gt;
        &lt;span class="input-group-addon btn" ng-click="open($event)"&gt;&lt;span class="fa fa-calendar"&gt;&lt;/span&gt;&lt;/span&gt;        
      &lt;/p&gt;	    
    &lt;/div&gt;	    
  &lt;/div&gt;
&lt;/div&gt;

&lt;div class="row"&gt;
  &lt;div class="form-group col-md-6"&gt;
    &lt;label for="standard-input"&gt;Time Picker&lt;/label&gt;
    &lt;div class="input-group input-append bootstrap-timepicker"&gt;
      &lt;input type="text" class="form-control timepicker"/&gt;
      &lt;span class="input-group-addon add-on btn"&gt;&lt;span class="fa fa-clock-o"&gt;&lt;/span&gt;&lt;/span&gt;  
    &lt;/div&gt;     	   
  &lt;/div&gt;	    
&lt;/div&gt;
</pre>	
<span class="btn-copy btn-clipboard-forms" data-clipboard-target="clipboard_text_5">Copy</span>
</div>

<h2>Column sizing</h2>
<p>Wrap inputs in grid columns to apply desired widths.</p>
<div class="element-example">
	<div class="row">
	  <div class="col-xs-2">
	    <input type="text" class="form-control" placeholder=".col-xs-2">
	  </div>
	  <div class="col-xs-3">
	    <input type="text" class="form-control" placeholder=".col-xs-3">
	  </div>
	  <div class="col-xs-4">
	    <input type="text" class="form-control" placeholder=".col-xs-4">
	  </div>
	</div>
</div>
<div class="zero-clipboard">
<pre class="prettyprint lang-html" id="clipboard_text_6">
&lt;div class="row"&gt;
  &lt;div class="col-xs-2"&gt;
    &lt;input type="text" class="form-control" placeholder=".col-xs-2"&gt;
  &lt;/div&gt;
  &lt;div class="col-xs-3"&gt;
    &lt;input type="text" class="form-control" placeholder=".col-xs-3"&gt;
  &lt;/div&gt;
  &lt;div class="col-xs-4"&gt;
    &lt;input type="text" class="form-control" placeholder=".col-xs-4"&gt;
  &lt;/div&gt;
&lt;/div&gt;
</pre>	
<span class="btn-copy btn-clipboard-forms" data-clipboard-target="clipboard_text_6">Copy</span>
</div>



<script src="dist/js/run_prettify.js"></script>
<script src="dist/js/lang-css.js"></script>
<script src="dist/js/ZeroClipboard.js"></script>
<script>
	var client = new ZeroClipboard($(".btn-clipboard-forms"));
	
	$('.timepicker').timepicker();
	
/*
	$(function() {				
    $("input:file[id=file-upload]").change(function() {
	    var file = $(this).val().replace(/C:\\fakepath\\/i, '');;  
      $("#file-upload-value").html(file);
    });
	});
*/

</script>













