<h1 class="page-header">Modals</h1>
<p>Modals use UI Bootstrap and use <code>ng-click="open()"</code> to activate. Use <code>ng-click="open(lg)"</code> or <code>ng-click="open(sm)"</code> for size variations.</p>     
<div class="element-example">
	<div ng-controller="modalCtrl">
		<script type="text/ng-template" id="myModalContent.html">
			<div class="modal-header">
				<h3 class="modal-title">I'm a modal</h3>
			</div>
			<div class="modal-body">
				<ul>
					<li ng-repeat="item in items">
						<a ng-click="selected.item = item">{{ item }}</a>
					</li>
				</ul>
			</div>
			<div class="modal-footer">
				<button class="btn btn-link" ng-click="cancel()">Cancel</button>
				<button class="btn btn-primary" ng-click="ok()">Continue</button>			
			</div>
		</script>
		
		<button class="btn btn-default" ng-click="open()">Open me!</button>
		<button class="btn btn-default" ng-click="open('lg')">Large modal</button>
		<button class="btn btn-default" ng-click="open('sm')">Small modal</button>
	</div>
</div>
<div class="zero-clipboard">
<pre class="prettyprint lang-html" id="clipboard_text">
&lt;div ng-controller="modalCtrl"&gt;
  &lt;script type="text/ng-template" id="myModalContent.html"&gt;
    &lt;div class="modal-header"&gt;
      &lt;h3 class="modal-title"&gt;I'm a modal&lt;/h3&gt;
    &lt;/div&gt;
    &lt;div class="modal-body"&gt;
      &lt;ul&gt;
        &lt;li ng-repeat="item in items"&gt;
          &lt;a ng-click="selected.item = item"&gt;{{ item }}&lt;/a&gt;
        &lt;/li&gt;
      &lt;/ul&gt;
    &lt;/div&gt;
    &lt;div class="modal-footer"&gt;
      &lt;button class="btn btn-link" ng-click="cancel()"&gt;Cancel&lt;/button&gt;
      &lt;button class="btn btn-primary" ng-click="ok()"&gt;Continue&lt;/button&gt;			
    &lt;/div&gt;
  &lt;/script&gt;

  &lt;button class="btn btn-default" ng-click="open()"&gt;Open me!&lt;/button&gt;
  &lt;button class="btn btn-default" ng-click="open('lg')"&gt;Large modal&lt;/button&gt;
  &lt;button class="btn btn-default" ng-click="open('sm')"&gt;Small modal&lt;/button&gt;
&lt;/div&gt;
</pre>	
<span class="btn-copy btn-clipboard-modals" data-clipboard-target="clipboard_text">Copy</span>
</div>

<script src="dist/js/vendor/prettify.js"></script>
<script src="dist/js/vendor/zeroclipboard.js"></script>

<script>
	var client = new ZeroClipboard($(".btn-clipboard-modals"));
</script>