<h1 class="page-header">Tables</h1>
<div class="tables">
	<section id="smart-table">
		<h2>Filters, Grouping & Sorting</h2>
		<p></p>
		<div ng-controller="smartCtrl">
			<table st-table="rowCollection" class="table table-striped">
				<thead>
				<tr>
					<th st-sort="name">Name<i class="fa"></i></th>
					<th st-sort="ends">Ends<i class="fa"></i></th>
					<th st-sort="floor">Floor<i class="fa"></i></th>
					<th st-sort="rev">$ Rev<i class="fa"></i></th>
					<th st-sort="imp"># Imp<i class="fa"></i></th>
					<th st-sort="ecpm">eCPM<i class="fa"></i></th>
					<th st-sort="status">Status<i class="fa"></i></th>
					<th st-sort="tools"></th>
				</tr>
				<tr>
					<th colspan="8"><input st-search="" class="form-control" placeholder="search ..." type="text"/></th>
				</tr>
				</thead>
				<tbody ng-controller="collapseCtrl">
				<tr class="tier-collapse open" toggle ng-click="isCollapsed = !isCollapsed">
					<td colspan="8"><i class="fa"></i>TIER 1 (4)</td>
				</tr>
				<tr ng-repeat="row in rowCollection" collapse="isCollapsed">
					<td class="name"><a href="">{{row.name}}</a><br/><span class="code">{{row.code}}</span></td>
					<td>{{row.ends}}</td>
					<td>{{row.floor}}</td>
					<td>{{row.rev}}</td>
					<td>{{row.imp}}</td>
					<td>{{row.cpm}}</td>
					<td class="status status-{{row.status}}"><span>{{row.status}}</span></td>
					<td class="hide-dropdown">
	          <div class="tools btn-group text-left pull-right" data-ng-hide="oSchedule.saving">
	            <button class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
	            	<i class="icon-gear"></i> 
	            	<span class="caret"></span>
	            </button>
	            <ul class="dropdown-menu">
	              <li><a href="#">Edit Schedule</a></li>
	              <li><a href="#">Delete Schedule</a></li>
	              <li><a href="#">Download Report</a></li>
	            </ul>
	          </div>						
					</td>
				</tr>	
				<tr class="tier-collapse open" toggle ng-click="isCollapsed2 = !isCollapsed2">
					<td colspan="8"><i class="fa"></i>TIER 2 (4)</td>
				</tr>
				<tr ng-repeat="row in rowCollection" collapse="isCollapsed2">
					<td class="name"><a href="">{{row.name}}</a><br/><span class="code">{{row.code}}</span></td>
					<td>{{row.ends}}</td>
					<td>{{row.floor}}</td>
					<td>{{row.rev}}</td>
					<td>{{row.imp}}</td>
					<td>{{row.cpm}}</td>
					<td class="status status-{{row.status}}"><span>{{row.status}}</span></td>
					<td class="hide-dropdown">
	          <div class="tools btn-group text-left pull-right" data-ng-hide="oSchedule.saving">
	            <button class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
	            	<i class="icon-gear"></i> 
	            	<span class="caret"></span>
	            </button>
	            <ul class="dropdown-menu">
	              <li><a href="#">Edit Schedule</a></li>
	              <li><a href="#">Delete Schedule</a></li>
	              <li><a href="#">Download Report</a></li>
	            </ul>
	          </div>						
					</td>
				</tr>								
				</tbody>
			</table>		
	
		</div>
		<br>
		<div class="zero-clipboard code-1">
			<pre class="prettyprint" id="clipboard_text_1">
	 			
			</pre>				
			<span class="btn-copy btn-clipboard-tables" data-clipboard-target="clipboard_text_1">Copy</span>
		</div>		
	</section>	
	
	<section>
		<h2>jQuery Sortable</h2>
		<p>Library used for drag and drop table rows.</p>	
		<table class="table table-hover sortable">
	    <thead>
	      <tr >
		      <th class="col-tb-5"></th>
	        <th class="col-tb-40">Name</th>          
	        <th class="col-tb-20">Channel</th>
	        <th class="col-tb-5">Type</th>
	        <th class="col-tb-5">Schedule</th>
	        <th class="col-tb-5"></th>
	      </tr>
	    </thead>
	    <tbody class="schedule_tbody">
	      <tr>
					<td class="col-tb-5 text-center drag">
						<span class="draghandle">
					    <i class="icon-reorder"></i>
						</span>
					</td>			      
	        <td class="col-tb-40 text-left">Name<br>
	          <span class="extrainfo">1 email address</span>
	        </td>            
	        <td class="col-tb-20 text-left">All</td>
	        <td class="col-tb-5 text-left capitalize">revenue</td>
	        <td class="col-tb-5 text-left capitalize">daily</td>
	        <td class="col-tb-5 text-right hide-dropdown">
	          <div class="tools btn-group text-left pull-right" data-ng-hide="oSchedule.saving">
	            <button class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
	            	<i class="icon-gear"></i> 
	            	<span class="caret"></span>
	            </button>
	            <ul class="dropdown-menu">
	              <li><a href="#">Edit Schedule</a></li>
	              <li><a href="#">Delete Schedule</a></li>
	              <li><a href="#">Download Report</a></li>
	            </ul>
	          </div>
	        </td>        
	      </tr>
	      <tr>
					<td class="col-tb-5 text-center drag">
						<span class="draghandle">
					    <i class="icon-reorder"></i>
						</span>
					</td>			      
	        <td class="col-tb-40 text-left">Name<br>
	          <span class="extrainfo">2 email address</span>
	        </td>            
	        <td class="col-tb-20 text-left">All</td>
	        <td class="col-tb-5 text-left capitalize">revenue</td>
	        <td class="col-tb-5 text-left capitalize">daily</td>
	        <td class="col-tb-5 text-right hide-dropdown">
	          <div class="tools btn-group text-left pull-right" data-ng-hide="oSchedule.saving">
	            <button class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
	            	<i class="icon-gear"></i> 
	            	<span class="caret"></span>
	            </button>
	            <ul class="dropdown-menu">
	              <li><a href="#">Edit Schedule</a></li>
	              <li><a href="#">Delete Schedule</a></li>
	              <li><a href="#">Download Report</a></li>
	            </ul>
	          </div>
	        </td>        
	      </tr>
	      <tr>
					<td class="col-tb-5 text-center drag">
						<span class="draghandle">
					    <i class="icon-reorder"></i>
						</span>
					</td>			      
	        <td class="col-tb-40 text-left">Name<br>
	          <span class="extrainfo">3 email address</span>
	        </td>            
	        <td class="col-tb-20 text-left">All</td>
	        <td class="col-tb-5 text-left capitalize">revenue</td>
	        <td class="col-tb-5 text-left capitalize">daily</td>
	        <td class="col-tb-5 text-right hide-dropdown">
	          <div class="tools btn-group text-left pull-right" data-ng-hide="oSchedule.saving">
	            <button class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
	            	<i class="icon-gear"></i> 
	            	<span class="caret"></span>
	            </button>
	            <ul class="dropdown-menu">
	              <li><a href="#">Edit Schedule</a></li>
	              <li><a href="#">Delete Schedule</a></li>
	              <li><a href="#">Download Report</a></li>
	            </ul>
	          </div>
	        </td>        
	      </tr>
	      <tr>
					<td class="col-tb-5 text-center drag">
						<span class="draghandle">
					    <i class="icon-reorder"></i>
						</span>
					</td>			      
	        <td class="col-tb-40 text-left">Name<br>
	          <span class="extrainfo">4 email address</span>
	        </td>            
	        <td class="col-tb-20 text-left">All</td>
	        <td class="col-tb-5 text-left capitalize">revenue</td>
	        <td class="col-tb-5 text-left capitalize">daily</td>
	        <td class="col-tb-5 text-right hide-dropdown">
	          <div class="tools btn-group text-left pull-right" data-ng-hide="oSchedule.saving">
	            <button class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
	            	<i class="icon-gear"></i> 
	            	<span class="caret"></span>
	            </button>
	            <ul class="dropdown-menu">
	              <li><a href="#">Edit Schedule</a></li>
	              <li><a href="#">Delete Schedule</a></li>
	              <li><a href="#">Download Report</a></li>
	            </ul>
	          </div>
	        </td>        
	      </tr>
	      <tr>
					<td class="col-tb-5 text-center drag">
						<span class="draghandle">
					    <i class="icon-reorder"></i>
						</span>
					</td>			      
	        <td class="col-tb-40 text-left">Name<br>
	          <span class="extrainfo">5 email address</span>
	        </td>            
	        <td class="col-tb-20 text-left">All</td>
	        <td class="col-tb-5 text-left capitalize">revenue</td>
	        <td class="col-tb-5 text-left capitalize">daily</td>
	        <td class="col-tb-5 text-right hide-dropdown">
	          <div class="tools btn-group text-left pull-right" data-ng-hide="oSchedule.saving">
	            <button class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
	            	<i class="icon-gear"></i> 
	            	<span class="caret"></span>
	            </button>
	            <ul class="dropdown-menu">
	              <li><a href="#">Edit Schedule</a></li>
	              <li><a href="#">Delete Schedule</a></li>
	              <li><a href="#">Download Report</a></li>
	            </ul>
	          </div>
	        </td>        
	      </tr>
	      <tr>
					<td class="col-tb-5 text-center drag">
						<span class="draghandle">
					    <i class="icon-reorder"></i>
						</span>
					</td>			      
	        <td class="col-tb-40 text-left">Name<br>
	          <span class="extrainfo">6 email address</span>
	        </td>            
	        <td class="col-tb-20 text-left">All</td>
	        <td class="col-tb-5 text-left capitalize">revenue</td>
	        <td class="col-tb-5 text-left capitalize">daily</td>
	        <td class="col-tb-5 text-right hide-dropdown">
	          <div class="tools btn-group text-left pull-right" data-ng-hide="oSchedule.saving">
	            <button class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
	            	<i class="icon-gear"></i> 
	            	<span class="caret"></span>
	            </button>
	            <ul class="dropdown-menu">
	              <li><a href="#">Edit Schedule</a></li>
	              <li><a href="#">Delete Schedule</a></li>
	              <li><a href="#">Download Report</a></li>
	            </ul>
	          </div>
	        </td>        
	      </tr>
	      <tr>
					<td class="col-tb-5 text-center drag">
						<span class="draghandle">
					    <i class="icon-reorder"></i>
						</span>
					</td>			      
	        <td class="col-tb-40 text-left">Name<br>
	          <span class="extrainfo">7 email address</span>
	        </td>            
	        <td class="col-tb-20 text-left">All</td>
	        <td class="col-tb-5 text-left capitalize">revenue</td>
	        <td class="col-tb-5 text-left capitalize">daily</td>
	        <td class="col-tb-5 text-right hide-dropdown">
	          <div class="tools btn-group text-left pull-right" data-ng-hide="oSchedule.saving">
	            <button class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
	            	<i class="icon-gear"></i> 
	            	<span class="caret"></span>
	            </button>
	            <ul class="dropdown-menu">
	              <li><a href="#">Edit Schedule</a></li>
	              <li><a href="#">Delete Schedule</a></li>
	              <li><a href="#">Download Report</a></li>
	            </ul>
	          </div>
	        </td>        
	      </tr>	      	      	      	      	      	      
	    </tbody>            
	  </table>
	  <br>
		<div class="code-2">	  
			<div class="zero-clipboard">
				<pre class="prettyprint lang-html" id="clipboard_text_2">
&lt;table class="table table-hover sortable"&gt;
  &lt;thead&gt;
    &lt;tr&gt;
      &lt;th class="col-tb-5"&gt;&lt;/th&gt;
      &lt;th class="col-tb-40"&gt;Name&lt;/th&gt;          
      &lt;th class="col-tb-20"&gt;Channel&lt;/th&gt;
      &lt;th class="col-tb-5"&gt;Type&lt;/th&gt;
      &lt;th class="col-tb-5"&gt;Schedule&lt;/th&gt;
      &lt;th class="col-tb-5"&gt;&lt;/th&gt;
    &lt;/tr&gt;
  &lt;/thead&gt;
  &lt;tbody class="schedule_tbody"&gt;
    &lt;tr&gt;
      &lt;td class="col-tb-5 text-center drag"&gt;
        &lt;span class="draghandle"&gt;
          &lt;i class="icon-reorder"&gt;&lt;/i&gt;
        &lt;/span&gt;
      &lt;/td&gt;			      
      &lt;td class="col-tb-40 text-left"&gt;Name&lt;br&gt;
        &lt;span class="extrainfo"&gt;1 email address&lt;/span&gt;
      &lt;/td&gt;            
      &lt;td class="col-tb-20 text-left"&gt;All&lt;/td&gt;
      &lt;td class="col-tb-5 text-left capitalize"&gt;revenue&lt;/td&gt;
      &lt;td class="col-tb-5 text-left capitalize"&gt;daily&lt;/td&gt;
      &lt;td class="col-tb-5 text-right hide-dropdown"&gt;
        &lt;div class="tools btn-group text-left pull-right" data-ng-hide="oSchedule.saving"&gt;
          &lt;button class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown"&gt;
            &lt;i class="icon-gear"&gt;&lt;/i&gt; 
            &lt;span class="caret"&gt;&lt;/span&gt;
          &lt;/button&gt;
          &lt;ul class="dropdown-menu"&gt;
            &lt;li&gt;&lt;a href="#"&gt;Edit Schedule&lt;/a&gt;&lt;/li&gt;
            &lt;li&gt;&lt;a href="#"&gt;Delete Schedule&lt;/a&gt;&lt;/li&gt;
            &lt;li&gt;&lt;a href="#"&gt;Download Report&lt;/a&gt;&lt;/li&gt;
          &lt;/ul&gt;
        &lt;/div&gt;
      &lt;/td&gt;        
    &lt;/tr&gt;
    ...	      	      	      	      	      	      
  &lt;/tbody&gt;            
&lt;/table&gt;			
				</pre>
				<span class="btn-copy btn-clipboard-tables" data-clipboard-target="clipboard_text_2">Copy</span>
			</div>
			<div class="zero-clipboard">
				<pre class="prettyprint" id="clipboard_text_3">
$('.sortable').sortable({
  containerSelector: 'table',
  itemPath: '> tbody',
  itemSelector: 'tr',
  placeholder: '<tr class="placeholder"/>',
  handle: 'td.drag',
  group: 'sortable',
  pullPlaceholder: true,
  
  // animation on drop
  onDrop: function  (item, targetContainer, _super) {
    var clonedItem = $('<tr/>').css({height: 0})
    item.before(clonedItem)
    clonedItem.animate({'height': item.height()})

    item.animate(clonedItem.position(), function  () {
      clonedItem.detach()
      _super(item)
    })
  },

  // set item relative to cursor position
  onDragStart: function ($item, container, _super) {
    var offset = $item.offset(),
    pointer = container.rootGroup.pointer

    adjustment = {
      left: pointer.left - offset.left,
      top: pointer.top - offset.top
    }

    _super($item, container)
  },
  onDrag: function ($item, position) {
    $item.css({
      left: position.left - adjustment.left,
      top: position.top - adjustment.top
    })
  }
})			 			
				</pre>				
				<span class="btn-copy btn-clipboard-tables" data-clipboard-target="clipboard_text_3">Copy</span>
			</div>	 
		</div> 
	</section>
</div>

<script src="dist/js/vendor/prettify.js"></script>
<script src="dist/js/vendor/lang-css.js"></script>
<script src="dist/js/vendor/zeroclipboard.js"></script>









