//
// Colors
// --------------------------------------------------

.colors {
	.col-md-4 {
		padding: 0;
	}	
	.color {
		width: 100%;
		height: 150px;
		border: #e0e0e0 1px solid;
		-webkit-transition: all ease-out .2s;
	  transition: all ease-out .2s;  		
	}
	.primary,
	.secondary {
		margin-bottom: 20px;
	}
	.gradients {
		margin-bottom: 15px;
	}
	.blue {
		background: #1b9dd0;
	}
	.green {
		background: #8ec641;
	}
	.grey {
		background: #808285;
	}	
	.blue-dark {
		background: #1f4389;
	}
	.green-dark {
		background: #74a636;
	}
	.grey-light {
		background: #bcbec0;
	}	
	.blue-gradient {
		background: #1b9dd0;
		background: -moz-linear-gradient(left,  #1b9dd0 0%, #0080b5 100%);
		background: -webkit-gradient(linear, left top, right top, color-stop(0%,#1b9dd0), color-stop(100%,#0080b5));
		background: -webkit-linear-gradient(left,  #1b9dd0 0%,#0080b5 100%);
		background: -o-linear-gradient(left,  #1b9dd0 0%,#0080b5 100%);
		background: -ms-linear-gradient(left,  #1b9dd0 0%,#0080b5 100%);
		background: linear-gradient(to right,  #1b9dd0 0%,#0080b5 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1b9dd0', endColorstr='#0080b5',GradientType=1 );
	}
	.green-gradient {
		background: #9ac83c;
		background: -moz-linear-gradient(left,  #9ac83c 0%, #75a637 100%);
		background: -webkit-gradient(linear, left top, right top, color-stop(0%,#9ac83c), color-stop(100%,#75a637));
		background: -webkit-linear-gradient(left,  #9ac83c 0%,#75a637 100%);
		background: -o-linear-gradient(left,  #9ac83c 0%,#75a637 100%);
		background: -ms-linear-gradient(left,  #9ac83c 0%,#75a637 100%);
		background: linear-gradient(to right,  #9ac83c 0%,#75a637 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9ac83c', endColorstr='#75a637',GradientType=1 );
	}
	.grey-gradient {
		background: #ffffff;
		background: -moz-linear-gradient(left,  #ffffff 0%, #e0e0e0 100%);
		background: -webkit-gradient(linear, left top, right top, color-stop(0%,#ffffff), color-stop(100%,#e0e0e0));
		background: -webkit-linear-gradient(left,  #ffffff 0%,#e0e0e0 100%);
		background: -o-linear-gradient(left,  #ffffff 0%,#e0e0e0 100%);
		background: -ms-linear-gradient(left,  #ffffff 0%,#e0e0e0 100%);
		background: linear-gradient(to right,  #ffffff 0%,#e0e0e0 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e0e0e0',GradientType=1 );	
		.info {
			p {
				color: #555;
				text-shadow: none;
			}
		}
	}
	pre.prettyprint {
		margin: 0 auto 15px;
		border-top-right-radius: 4px;
		border-top-left-radius: 4px;  	
	}
	.info {
		padding: 8px 0 0 12px;
		li {
			list-style: none;
			padding: 2px 0;
			p {
				color: #fff;
				text-shadow: 1px 1px 1px rgba(0,0,0,.5);
				font-weight: 300;
				margin: 0;
			}
		}
	}	
}

@media (min-width: 992px) {
	.colors {
		.col-md-4 {
			&:first-child {
				padding-right: 8px;
			}
			&:nth-child(2) {
				padding: 0 4px;
			}
			&:last-child {
				padding-left: 8px;
			}				
		}	
	}	
}

@media (min-width: 1200px) {
	.colors {
		.color {
			width: 100%;
			height: 180px;
		}
	}
}

.x-colors {
	list-style: none;
	position: relative;
	margin: 0;
	padding: 0;
}
.x-colors li {

}
.x-colors li a {
	display: block;
	position: relative;
}
.x-colors li a {
	overflow: hidden;
}
.x-colors li a div {
	position: absolute;
	top: -100%;
	width: 100%;
	height: 100%;
}
.x-colors li a div span {
	display: block;
	padding: 10px 0;
	margin: 40px 20px 20px 20px;
	text-transform: uppercase;
	font-weight: normal;
	color: rgba(255,255,255,0.9);
	text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
	border-bottom: 1px solid rgba(255,255,255,0.5);
	box-shadow: 0 1px 0 rgba(0,0,0,0.1), 0 -10px 0 rgba(255,255,255,0.3);
}












