//
// LESS
// --------------------------------------------------

.less {
	.box {
		&.spotx-green {
			background: @spotx-green;
		}
		&.spotx-blue {
			background: @spotx-blue;
		}
		&.spotx-grey {
			background: @spotx-grey;
		}
		&.spotx-dk-green {
			background: @spotx-dk-green;
		}
		&.spotx-dk-blue {
			background: @spotx-dk-blue;
		}
		&.spotx-dk-grey {
			background: @spotx-dk-grey;
		}					
	}	
	.zero-clipboard {
		display: block !important;
	}
	section {
		margin-bottom: 30px;
	}
}

