//
// SpotX Overrides
// --------------------------------------------------

.spotx {

	h2, .h2 {
		font-size: 34px;
	}
	
	h3, .h3 {
		font-size: 28px;
	}
	
	h4, .h4 {
		font-size: 24px;
	}
	
	h5, .h5 {
		font-size: 20px;
	}
	
	h6, .h6 {
		font-size: 16px;
	}
	
	code {
		color: #0286ba;
		background-color: #f5f5f5;
		border-radius: 2px;
	}
	
	.input-sm-2 {
		width: 30%;
	}
	
	

	//
	// Buttons
	// --------------------------------------------------
	
	.btn {
		-webkit-transition: all ease-out .2s;
	  transition: all ease-out .2s; 	
	}
	
	.btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn.active.focus {
		outline: none;
	}
	
	.btn-secondary:hover, 
	.btn-secondary:focus, 
	.btn-secondary.focus, 
	.btn-secondary:active, 
	.btn-secondary.active, 
	.open > .dropdown-toggle.btn-secondary {
		border-color: #0c4f69;
	}
	
	.btn-default:hover, 
	.btn-default:focus, 
	.btn-default.focus, 
	.btn-default:active, 
	.btn-default.active, 
	.open > .dropdown-toggle.btn-default {
		border-color: #bbb;
	}
	
	.btn-link {
		color: #0088cc;
		&:hover,
		&:focus {
			color: #005580;
		}
	}	
	
	.btn-search {
		display: block;
		float: right;
		height: 40px;
		width: 40px;	
		border-left: 1px solid #27292d;
		span {
			display: block;
			height: 40px;
			width: 40px;	
			opacity: .6;
			background: url(../img/search-icon.png) no-repeat center;
			background-size: 20px;
			-webkit-transition: all ease-out .2s;
		  transition: all ease-out .2s; 				
			&:hover {
				opacity: 1;
			}
		}
	}
	
	.btn-default {
		font-weight: 400;
		color: #555;
		background-color: #e0e0e0;
		background-image: -moz-linear-gradient(top,  #ffffff, #e0e0e0);
		background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e0e0e0));
		background-image: -webkit-linear-gradient(top, #ffffff, #e0e0e0);
		background-image: -o-linear-gradient(top, #ffffff, #e0e0e0);
		background-image: linear-gradient(to bottom, #ffffff, #e0e0e0);	
		&:hover {
			background-color: #e0e0e0;
			background-image: none;
		}
	}
	
	.has-error .btn-default {
		color: #a94442;
		border-color: #a94442;
		background-color: #f2dede;	
		background-image: -moz-linear-gradient(top,  #ffffff, #f2dede);
		background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#f2dede));
		background-image: -webkit-linear-gradient(top, #ffffff, #f2dede);
		background-image: -o-linear-gradient(top, #ffffff, #f2dede);
		background-image: linear-gradient(to bottom, #ffffff, #f2dede);		
		&:hover {
			background-color: #f2dede;
			background-image: none;
		}
	}
	
	.btn-default:active, 
	.btn-default.active {
		border-color: #adadad;
	}
	
	.btn-primary {
		font-weight: 300;
		color: #fff;
		text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
		border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
		background-color: #75a637;
		background-image: -moz-linear-gradient(top, #9ac83c, #75a637);
		background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#9ac83c), to(#75a637));
		background-image: -webkit-linear-gradient(top, #9ac83c, #75a637);
		background-image: -o-linear-gradient(top, #9ac83c, #75a637);
		background-image: linear-gradient(to bottom, #9ac83c, #75a637);	
		box-shadow: inset 1px 0 0 rgba(255, 255, 255, 0.125), inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);	
		&:hover {
			background-color: #75A637;
			background-image: none;
		}
	}
	
	.btn-primary:hover, 
	.btn-primary:focus {
		background-color: #75a637;
		background-position: 0 -15px;
	}
	
	.btn-secondary {
		background-repeat: repeat-x;
		text-shadow: 0 -1px 0 rgba(0,0,0,.2);
		-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.15),0 1px 1px rgba(0,0,0,.075);
		box-shadow: inset 0 1px 0 rgba(255,255,255,.15),0 1px 1px rgba(0,0,0,.075);	
	}
	
	.btn-primary:active,
	.btn-primary.active {
		background-color: #75A637;
		border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	}
	
	.btn-secondary:hover, 
	.btn-secondary:focus {
		background-position: 0 -15px;
	}
		
	.btn-secondary {
		font-weight: 300;
		color: #fff;
		text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
		border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
		background-color: #1483ae;
		background-image: -moz-linear-gradient(top, #1b9dd0, #1483ae);
		background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#1b9dd0), to(#1483ae));
		background-image: -webkit-linear-gradient(top, #1b9dd0, #1483ae);
		background-image: -o-linear-gradient(top, #1b9dd0, #1483ae);
		background-image: linear-gradient(to bottom, #1b9dd0, #1483ae);	
		&:hover {
			background-color: #1483ae;
			background-image: none;
		}
	}
	
	
	
	
	//
	// Side Navs
	// --------------------------------------------------	
	
	.rightmenu-trigger {
		float: right;
		border-left: 1px solid #27292d;
		.patty{
			left: 11px;
			&:after,
			&:before{
				right: 0;
			}		
		}		
	}
	
	.leftmenu-trigger,
	.rightmenu-trigger {
		position: relative;
		display: block;
		float: left;
		height: 40px;
		width: 40px;
		cursor: pointer;	
		border-right: 1px solid #27292d;
		.patty{
			position: relative ;
			top: 8px;
			left: 12px;		
			width:16px;
			height:1px;
			margin:10px 0;
			background:#fff;
			-webkit-transition:all 0.3s;
			-moz-transition:all 0.3s;
			-o-transition:all 0.3s;
			transition:all 0.3s;
			opacity: .6;
			&:after,
			&:before{
				content:'';
				display:block;
				width:10px;
				height:1px;
				background:#fff;
				position:absolute;
				z-index:-1;
				-webkit-transition:all 0.3s;
				-moz-transition:all 0.3s;
				-o-transition:all 0.3s;
				transition:all 0.3s
			}		
			&:before{top:-4px}
			&:after{top:4px; width: 13px}
		}		
		&.active {
			&:hover {
				.patty {
					opacity: 1;
				}
			}
			.patty{
				background: none;
				opacity: .8;
				&:after{
					width: 16px;
					top:0 !important;
					-webkit-transform:rotate(45deg);
					-moz-transform:rotate(45deg);
					-ms-transform:rotate(45deg);
					-o-transform:rotate(45deg);
					transform:rotate(45deg)				
				}
				&:before{
					width: 16px;
					top:0 !important;
					-webkit-transform:rotate(-45deg);
					-moz-transform:rotate(-45deg);
					-ms-transform:rotate(-45deg);
					-o-transform:rotate(-45deg);
					transform:rotate(-45deg)				
				}
			}		
		}
		&:hover {
			.patty {
				opacity: .8;
			}
		}
	}
	
	
	
	//
	// Headers
	// --------------------------------------------------
	
	.logo {
		display: block;
		float: left;
		height: 40px;
		width: 116px;		
		background: url(../img/spotxchange_logo.png) no-repeat center center;
	}
	
	.navbar-inverse {
		background-image: -webkit-linear-gradient(top, #3c3c3c 0%, #222 100%);
		background-image: linear-gradient(to bottom, #3c3c3c 0%, #222 100%);
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff3c3c3c', endColorstr='#ff222222', GradientType=0);
		filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
		background-repeat: repeat-x;	
	}
	
	.page-header {
		border-bottom: 1px solid #eee;
	}
	
	
	
	//
	// Forms
	// --------------------------------------------------
	
	label {
		font-weight: normal;
		span {
			cursor: help;
		}
	}
	
	.checkbox label {
		-webkit-transition: all ease-out .2s;
	  transition: all ease-out .2s; 			
	}
	
	.required label {
		font-weight: bold;
	}
	
	fieldset {
		margin: 0 0 20px;
	}
	
	legend {
		padding-bottom: 4px;
	}
	
	form {
		fieldset:first-child {
			legend {
				margin-bottom: 6px;
			}
		}
	}
	
	input[type="radio"],
	input[type="checkbox"] {
		cursor: pointer;
	}
	
	p.input-group {
		margin: 0;
	}
	
	p.required {
		margin-bottom: 20px;
	}
	
	input[type="file"] {
	  display: none;
	}
	
	.custom-file-upload {
	  cursor: pointer;
	}
	
	.form-control {
		-webkit-transition: all ease-in-out .15s;
	  transition: all ease-in-out .15s; 	
	}
	
	select.form-control.multiple {
		padding: 0;
		option {
			padding: 2px 10px;
		}
	}
	
	textarea,
	input[type="text"],
	input[type="password"],
	input[type="datetime"],
	input[type="datetime-local"],
	input[type="date"],
	input[type="month"],
	input[type="time"],
	input[type="week"],
	input[type="number"],
	input[type="email"],
	input[type="url"],
	input[type="search"],
	input[type="tel"],
	input[type="color"],
	.uneditable-input {
	  background-color: #ffffff;
	  border: 1px solid #cccccc;
	  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	  -webkit-transition: border linear .2s, box-shadow linear .2s;
	  -moz-transition: border linear .2s, box-shadow linear .2s;
	  -o-transition: border linear .2s, box-shadow linear .2s;
	  transition: border linear .2s, box-shadow linear .2s;
	}
	textarea:focus,
	input[type="text"]:focus,
	input[type="password"]:focus,
	input[type="datetime"]:focus,
	input[type="datetime-local"]:focus,
	input[type="date"]:focus,
	input[type="month"]:focus,
	input[type="time"]:focus,
	input[type="week"]:focus,
	input[type="number"]:focus,
	input[type="email"]:focus,
	input[type="url"]:focus,
	input[type="search"]:focus,
	input[type="tel"]:focus,
	input[type="color"]:focus,
	.uneditable-input:focus {
	  border-color: rgba(82, 168, 236, 0.8);
	  outline: 0;
	  outline: thin dotted \9;
	  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);
	  -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);
	  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);
	}
	
	.element-example-sizing .select2-container.form-control,
	.element-example-sizing select, 
	.element-example-sizing input[type=text]+input[type=text] {
		margin: 10px 0;
	}
	
	.select2-container-multi .select2-search-choice-close	{
		left: 4px;
	}
	
	.select2-search-choice-close {
		margin-top: -8px;
	}	
	
	.checkbox-row {
		padding: 0 15px;
	}
	
	@media (min-width: 992px) {
		
		.start-end {
			.col-md-2,
			.col-md-3,		
			.col-md-4,
			.col-md-8 {
				padding: 0 10px 0 0;
			}
			.checkbox-row {
				padding: 8px 0 0 26%;
				label {
					margin-left: 14px;
				}
				.checkbox {
					padding: 0;
				}
			}
		}		
		.select2-container {
			margin-top: 0 !important;
		}	
		
	}
	
	.form-group {
		.btns-group {
			text-align: right;
		}
		.error-container {
			position: relative;
		}
	}
	
	.forms section {
		margin-bottom: 40px;
	}
	
	
	
	//
	// Errors
	// --------------------------------------------------
	
	.has-error .bootstrap-datepicker .dropdown-menu .btn-default {
		color: #555;
	}
	
	.has-error .form-control {
		border-color: #c00;
	}
	
	.has-error .form-control:focus {
		border-color: #c00;
	}
	
	.has-error .help-block, .has-error .control-label, .has-error .radio, .has-error .checkbox, .has-error .radio-inline, .has-error .checkbox-inline, .has-error.radio label, .has-error.checkbox label, .has-error.radio-inline label, .has-error.checkbox-inline label {
		color: #c00;
	}
	
	.has-success .form-control:focus {
		border-color: #74a636;
		-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #8ec641;
		box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #8ec641;
	}
	
	.has-success .form-control {
		border-color: #74a636;
	}
	
	.has-success .help-block, .has-success .control-label, .has-success .radio, .has-success .checkbox, .has-success .radio-inline, .has-success .checkbox-inline, .has-success.radio label, .has-success.checkbox label, .has-success.radio-inline label, .has-success.checkbox-inline label {
		color: #74a636;
	}
	
	.help-block {
		display: none;
	}
	
	.has-error .help-block {
		display: inline-block;
		padding: 7px 0 5px;
		margin: 0;
	/*
		position: relative;
		top: -8px;
		padding: 8px 15px;
		background: #f2dede;
		border-radius: 2px;
		border: #dca7a7 1px solid;
		margin: 5px 0 0;
	*/
	}
	
	.alert-danger {
		display: none;
		opacity: 0;
		background-color: #f2dede;
		background-image: none;
		-webkit-transition: opacity ease-out .5s;
	  transition: opacity ease-out .5s;  	
	}
	
	.alert-danger.show {
		display: block;
		opacity: 1;
	}
	
	.alert h4 {
		font-size: 18px;
		font-weight: 600;
		margin-bottom: 10px;
		display: block;
	}
	
	.close:hover, 
	.close:focus {
		outline: none;
	}
	
	
	
	
	//
	// Zero Clipboard
	// --------------------------------------------------
	
	.zero-clipboard {
		display: none;
		position: relative;
		.btn-copy {
			position: absolute;
			bottom: 0;
			right: 0;
			z-index: 10;
			display: block;
			padding: 5px 8px;
			font-size: 12px;
			color: #999;
			font-weight: 300;	
			cursor: pointer;
			background-color: #fff;
			border: 1px solid #e1e1e8;
			border-radius: 4px 0 4px 0;
			-webkit-transition: all ease-out .2s;
		  transition: all ease-out .2s;  		
		}
		.zeroclipboard-is-hover {
			color: #fff;
			background-color: #75A637;
			text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);							
		}	
		.zeroclipboard-is-active {
			color: #fff;
			-webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
			box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
			text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);							
		}		
	}
	
	
	
	//
	// Date Time Pickers
	// --------------------------------------------------
	
	.form-control.timepicker {
		border-bottom-left-radius: 4px !important;
		border-top-left-radius: 4px !important;	
	}
	
	.datetime-container {
		padding-left: calc(25% + 15px);
	}
	
	.bootstrap-datepicker .dropdown-menu .btn-default {
		background: none;
		border: none;
		box-shadow: none;
		border-radius: 0;
	}
	
	.bootstrap-datepicker .dropdown-menu .btn-default:hover,
	.bootstrap-datepicker .dropdown-menu .btn-default.active {
		background: #ececec;	
	}
	
	.bootstrap-datepicker .dropdown-menu .btn-default.active {
		border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
		background-color: #1483ae;
		background-image: -moz-linear-gradient(top, #1b9dd0, #1483ae);
		background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#1b9dd0), to(#1483ae));
		background-image: -webkit-linear-gradient(top, #1b9dd0, #1483ae);
		background-image: -o-linear-gradient(top, #1b9dd0, #1483ae);
		background-image: linear-gradient(to bottom, #1b9dd0, #1483ae);	
		-webkit-box-shadow: none;
		box-shadow: none;	
	}
	
	.bootstrap-datepicker .dropdown-menu .btn-default.active span {
		font-weight: 300;
		color: #fff;
		text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);	
	}
	
	.bootstrap-datepicker li:focus,
	.bootstrap-datepicker div:focus,
	.bootstrap-datepicker table:focus,
	.bootstrap-datepicker td:focus,
	.bootstrap-datepicker td:active,
	.bootstrap-datepicker button:focus,
	.bootstrap-datepicker span:focus {
		outline: none !important;
	}
	
	.bootstrap-datepicker .dropdown-menu {
		padding: 5px;
	}
	
	.bootstrap-datepicker .dropdown-menu tbody {
		border-top: #ddd 1px solid;
		border-left: #ddd 1px solid;
	}
	
	.bootstrap-datepicker .dropdown-menu tbody .btn-default {
		border-right: #ddd 1px solid;
		border-bottom: #ddd 1px solid;	
	}
	
	.bootstrap-datepicker .dropdown-menu thead .btn-default {
		border-radius: 2px;
	}
	
	.bootstrap-datepicker .text-muted {
		color: #aaa;
	}
	
	.bootstrap-timepicker-widget.dropdown-menu {
		padding: 3px;
	}
	
	.bootstrap-timepicker-widget table td {
		padding: 2px 0;
	}
	
	.bootstrap-timepicker-widget table td a {
		border: none;
		text-decoration: none;
		padding: 5px 0;
		width: 36px;
		margin: 2px 0;	
	}
	
	.bootstrap-timepicker-widget table td a:hover {
		border-radius: 2px;
	}
	
	.bootstrap-timepicker-widget table td input {
		padding: 4px;
		border-radius: 2px;
	}
	
	.bootstrap-timepicker-widget table td.separator {
		padding: 0;
	}
	
	
	
	
	//
	// Select2
	// --------------------------------------------------
	
	/*
	.select2-container {
		margin-top: 10px !important;
	}
	*/
	
	.select2-container .select2-choice .select2-arrow b {
		border-color: #555 transparent transparent transparent;
		border-style: solid;
		border-width: 5px 4px 0 4px;
		height: 0;
		left: 50%;
		margin-left: -6px;
		margin-top: -2px;
		position: absolute;
		top: 50%;
		width: 0;	
	}
	
	.select2-dropdown-open .select2-choice .select2-arrow b, 
	.select2-dropdown-open .select2-choice div b {
		border-color: transparent transparent #555 transparent;
		border-width: 0 4px 5px 4px;
	}
	
	.select2-search input {
		background-position: 100% center;
	}
	
	.select2-search {
		padding: 0 5px;
	}
	
	.select2-search input {
		border-radius: 2px;
		&:focus {
			outline: none;
			box-shadow: none;
		}
	}
	
	.select2-results {
		margin: 4px 0px;
		li {
			margin-right: 4px;
		}
	}
	
	.select2-search-choice-close {
		display: inline-block;
		font: normal normal normal 14px/1 FontAwesome;
		font-size: inherit;
		text-rendering: auto;
		-webkit-font-smoothing: antialiased;	
		background: none;
		color: #555;
		text-decoration: none;
		&:before {
			content: "\f00d";
		}
		&:hover {
			color: #000;
		}
	}
	
	// Base class
	.tooltip {
	  line-height: 1.4;
	  background: #eee;
	  box-shadow: 0 0 7px rgba(0,0,0,.5);
	  border-radius: 4px;
	  padding: 2px !important;
	  .opacity(0);
	
	  &.in     { .opacity(1); }
	  &.top    { margin-top:  -3px; padding: @tooltip-arrow-width 0; }
	  &.right  { margin-left:  3px; padding: 0 @tooltip-arrow-width; }
	  &.bottom { margin-top:   3px; padding: @tooltip-arrow-width 0; }
	  &.left   { margin-left: -3px; padding: 0 @tooltip-arrow-width; }
	}
	
	// Wrapper for the tooltip content
	.tooltip-inner {
	  padding: 6px 8px;  
	  max-width: 100%;
	  min-width: 130px;
	  text-align: left;
	  text-decoration: none;
	  font-weight: 300;
	  font-size: 12px;
	  line-height: 16px;
	  background-color: #444;
	  border-radius: 3px;
	}
	
	// Arrows
	.tooltip-arrow {
	  position: absolute;
	  border: none;
	}
	// Note: Deprecated .top-left, .top-right, .bottom-left, and .bottom-right as of v3.3.1
	.tooltip {
	  &.top .tooltip-arrow {
	    bottom: -8px;
	    left: 52%;
		  width: 22px;
		  height: 10px;    
	    background: transparent url(../img/arrow-down.png) no-repeat 0 0;
	  }
	  &.right .tooltip-arrow {
	    display: none;
	  }
	}
	
	
	
	//
	// Tables
	// --------------------------------------------------
	
	.tables {
		section {
			margin-bottom: 60px;
		}
		table {
		  position: relative;
		  border-bottom: 1px solid #dddddd;	
		}
		thead th {
		  background-color: #444444;
		  color: white;
		  font-size: 13px;
		  line-height: 14px;
		  font-weight: 600;
		  border-right: #777 1px solid;
		}
		thead th:first-of-type {
		  -webkit-border-radius: 5px 0 0 0;
		  -moz-border-radius: 5px 0 0 0;
		  -ms-border-radius: 5px 0 0 0;
		  -o-border-radius: 5px 0 0 0;
		  border-radius: 5px 0 0 0;
		}
		thead th:last-of-type {
		  -webkit-border-radius: 0 5px 0 0;
		  -moz-border-radius: 0 5px 0 0;
		  -ms-border-radius: 0 5px 0 0;
		  -o-border-radius: 0 5px 0 0;
		  border-radius: 0 5px 0 0;
		  border-right: none;
		}
		td.drag {
			vertical-align: middle;
		}
		.col-tb-5 {
			width: 5%;
		}
		.col-tb-20 {
			width: 20%;
		}
		.col-tb-40 {
			width: 40%;
		}		
		td.capitalize {
		  text-transform: capitalize;
		}
		.hide-dropdown .tools {
		  visibility: hidden;
		}
		.hide-dropdown .tools.open,
		tr:hover > td .tools {
		  visibility: visible;
		}	
	}
	
	.grid-container {
		position: relative;	
		.bottom-fade {
			position: absolute; 
			left: 0;
			bottom: 1px;
			background: transparent url(../img/fade.png) no-repeat center bottom;
			background-size: 100%;
			width: 100%;
			height: 45px;		
			pointer-events: none;
		}			
	}

	.ui-grid {
		border: none;		
		// border-bottom: 1px solid #dddddd;	
		.ui-grid-top-panel {
			position: relative;
			overflow: hidden;
		  background: #444444;
		  color: white;
		  font-size: 13px;
		  line-height: 14px;
		  font-weight: 600;		  
			-webkit-border-top-right-radius: 4px;
			-webkit-border-bottom-right-radius: 0;
			-webkit-border-bottom-left-radius: 0;
			-webkit-border-top-left-radius: 4px;
			-moz-border-radius-topright: 4px;
			-moz-border-radius-bottomright: 0;
			-moz-border-radius-bottomleft: 0;
			-moz-border-radius-topleft: 4px;
			border-top-right-radius: 4px;
			border-bottom-right-radius: 0;
			border-bottom-left-radius: 0;
			border-top-left-radius: 4px;
			-moz-background-clip: padding-box;
			-webkit-background-clip: padding-box;
			background-clip: padding-box;
		}
		.ui-grid-row {
			height: auto;
		  &:before,
		  &:after {
		    content: " ";
		    display: table;
		  }
		  &:after {
		    clear: both;
		  }		
			&:hover {
				background-color: #f5f5f5;
			}
		}
		.ui-grid-header-cell:not(:last-child) .ui-grid-vertical-bar	{
			background: #777;
		}
		.ui-grid-cell-contents {
			padding: 8px;
		}
		.ui-grid-row:nth-child(odd) .ui-grid-cell,
		.ui-grid-row:nth-child(even) .ui-grid-cell {
			border-right: none;
			border-top: 1px solid #dddddd;	
			height: auto;
			background: transparent;
		}
		[class^="ui-grid-icon"]:before, 
		[class*=" ui-grid-icon"]:before	{
			font-weight: 200;
			color: #777;
		}
	}

	.dropdown-menu>li>a:hover,
	.dropdown-menu>li>a:focus {
		color: #ffffff;
		text-decoration: none;
		background-color: #0081c2;
		background-image: -moz-linear-gradient(top, #0088cc, #0077b3);
		background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0077b3));
		background-image: -webkit-linear-gradient(top, #0088cc, #0077b3);
		background-image: -o-linear-gradient(top, #0088cc, #0077b3);
		background-image: linear-gradient(to bottom, #0088cc, #0077b3);
		background-repeat: repeat-x;
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0077b3', GradientType=0);	
	}
	
	.panel-group .panel-heading + .panel-collapse > .panel-body, 
	.panel-group .panel-heading + .panel-collapse > .list-group	{
		padding: 0;
		border: 0;
		background-color: #9ac83c;
	}
	
	.panel-default>.panel-heading	{
		background: none;
		padding: 0;
		border-radius: 0;
	}
	
}

/* Modal
============================================================================= */

.modal-dialog {
	margin: 60px auto !important;
}

.modal-open .modal {
	background: rgba(0,0,0,.7) !important;
}	











